---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'About me';

const identity = {
  firstName: "Javier B.",
  country: "Colombia [🇨🇴]",
  occupation: "Student at Universidad de los Andes",
  hobbies: ["Math", "Learn new things", "Coding"],
};

const skills = ["Java", "Html", "Css", "Spring Boot", "Bootstrap", "MongoDB", "SQL (Oracle)"];

---

<BaseLayout pageTitle={pageTitle}>
  <h2>General information</h2>
  <p><b>Name:</b> {identity.firstName}</p>
  <p><b>Country:</b> {identity.country}</p>
  <p><b>Occupation:</b> {identity.occupation}</p>
  <p><b>Hobbies:</b></p>
  <ul>
    {identity.hobbies.map((hobbie) => {
      return <li>{hobbie}</li>
    })}
  </ul>

  <h2>Skills</h2>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  <h2>Goals to semester 2024-1✨✨</h2>
  <ul>
    <li>Approve design and analysis of algorithms. Learn dynamic programming and graphs.</li>
    <li>Learn ML fundamentals. Learn to formulate an optimization problem.</li>
    <li>Learn Angular, Spring Boot, etc.</li>
    <li>Finish this blog.</li>
  </ul>
</BaseLayout>
